/*
Static file for Theme changes
Theme name: codeOrg
Version: 1.0
Template:
Created: 1/9/15
Last Updated: 1/21/15
Author: Jen Rasmussen, Four51

Colors:
turquoise	#00b2c0
purple 		#7665a0
lt orange	#ffa400
dk orange	#ff8a00
black		#000101
white		#ffffff
dimgray		#696969
gray		#999c9f

Fonts:
http://www.typography.com/fonts/gotham/
'Gotham A','Gotham B',sans-serif;
<link href='//cloud.typography.com/7425452/678642/css/fonts.css' media='all' rel='stylesheet' type='text/css'>
*/

/*fix the editor.css file, its a mess*/

html {
    position: relative;
    min-height: 100%;
}

#content {
    margin-bottom: 120px;
}

/*for Safari*/
.alert-success {
    left: 5px;
    max-width: 99%;
    position: relative;
    top: 20px;
}

.form-control {
    height:40px;
}

.view-form-select select option {
    padding-left: 30px;
}
/*for Safari*/


.fixed-footer {
    position:absolute;
    bottom:0;
    left: 0;
    right: 0;
    height:90px;
    width:100%;
    background-color:#7665a0;
    z-index: 1050;
    color:white;
    font-size:0.975em;
}

.fixed-footer div {
    max-width:980px;
    margin:0 auto;
}

.fixed-footer .row {
    line-height:1.55em;
}

.fixed-footer .row {
    position:relative;
    top:20px;
    left:0px;
    max-width:100%;
}

.fixed-footer ul li {
    float:left;
    padding:0 11px;
    word-spacing: 0.25em;
}

@media (max-width:768px) {

    .fixed-footer {
        font-size:0.775em;
    }

    .fixed-footer ul li {
        float:left;
        padding:0 0.5em;
    }
}

@media (max-width:320px) {

    .fixed-footer ul  {
        font-size:0.725em;
    }
}

.fixed-footer ul li:nth-of-type(1) {
    padding:0 11px 0 0;
}

.fixed-footer a {
    color:white;
    font-weight:normal;
    text-decoration:none;
}

.fixed-footer a:hover {
    text-decoration:none;
}

.fixed-footer small,
.fixed-footer .small {
    font-size: 85%;
}

.fixed-footer .dim {
    opacity: 0.5;
}

.panel-product-list ul li.inline .well .panel-body div {
    min-height: 50px;
}

.panel-product-list ul li.inline h3 {
    min-height: 100px;
    font-size: 18px;
}

.panel-product-list ul li.inline .backorder span {
    background-color:#7665a0;
    color:white;
    font-style: italic;
    width:100%;
    padding:3px 6px;
}

/*BUTTONS*/
.checkout-buttons .btn.btn-lg {
    /*min-width: 40%;*/
}

.checkout-buttons .btn-warning.disabled,
.checkout-buttons .btn-warning[disabled],
fieldset[disabled] .checkout-buttons .btn-warning,
.checkout-buttons .btn-warning.disabled:hover,
.checkout-buttons .btn-warning[disabled]:hover,
fieldset[disabled] .checkout-buttons .btn-warning:hover,
.checkout-buttons .btn-warning.disabled:focus,
.checkout-buttons .btn-warning[disabled]:focus,
fieldset[disabled] .checkout-buttons .btn-warning:focus,
.checkout-buttons .btn-warning.disabled:active,
.checkout-buttons .btn-warning[disabled]:active,
fieldset[disabled] .checkout-buttons .btn-warning:active,
.checkout-buttons .btn-warning.disabled.active,
.checkout-buttons .btn-warning.active[disabled],
fieldset[disabled] .checkout-buttons .btn-warning.active {
    background-color:#00b2c0;
    border-color: #00b2c0;
    color: white;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events:none;
    text-transform: uppercase;
    font-size:16px;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning.active[disabled],
fieldset[disabled] .btn-warning.active {
    background-color:#ffa400;
    border-color: #ff8a00;
    opacity: 1;
}

.panel-order .panel-heading.no i:first-of-type {
    color: #ffa400;
}

.panel-order .panel-heading.yes i:first-of-type {
    color: #00b2c0;
}

.user-view form .panel-body,
.address-view .panel-body {
    /*background-color:#f5f5f5;*/
}

.text-primary {
    color: #696969;
}

.alert-info, .alert-success {
    background-color:#00b2c0;
    border-color: #00b2c0;
    color: white;
    border-radius:6px;
}

.btn-default,
.btn-success,
.btn-primary {
    background-color: #f5f5f5;
    color:#00b2c0;
    border:1px solid #dddddd;
    text-transform: uppercase;
}


.cart-buttons .btn-success {
    background-color: #19b9c6;
    border-color: #19b9c6;
    color:white;
}

.cart-buttons .btn-primary {
    background-color: #7665a0;
    border-color: #7665a0;
    color:white;
}

.cart-buttons .btn-success:hover,
.cart-buttons .btn-success:active,
.cart-buttons .btn-success:focus{
    background-color: #00b2c0;
    border-color: #00b2c0;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary.active {
    background-color:#00b2c0;
    border-color: #00b2c0;
    color: white;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}

.user-view .btn-primary {
    background-color:#00b2c0;
    border-color: #00b2c0;
    color: white;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #00b2c0;
    border-color: #00b2c0;
    color:#f5f5f5;
}

.view-form-icon .quantity div input {
    color: #00b2c0;
}

.panel-default .alert-warning {
    background-color:white;
    border-color:white;
    color: #ffa400;
    text-align: center;
}

.badge {
    background-color: #ffa400;
}

.panel-category-list .well,
.panel-product-list .well {
    border:0 none;
}

.panel-product-list .well .panel-body {
    padding:0 15px 15px 15px;
}

.panel-default .panel-heading,
.panel-search .panel-heading,
.panel-category-list .panel-heading,
.panel-order {
    /*background-color: #f5f5f5;*/
}

.panel-default .panel-heading, .panel-search .panel-heading {
    background-color: #f5f5f5;
    border-color:#dddddd;
    border-radius: 4px 4px 0 0;
}

.panel .panel-heading .panel-title  {
    text-transform:uppercase;
}

.panel-footer {
    background-color: #f5f5f5;
}

/**/
.thumbnail img {
    max-height: 150px;
}

.form-control {
    border: 1px solid #ddd;
}
/**/
body {
    /*font-family: 'Gotham A','Gotham B',sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /*line-height: 22px;*/
    font-weight: 400;
    color: dimgray;
    margin: 0;
}

/*accountnav*/
.panel-table .row .btn {
    margin:10px;
}

.table-responsive {
    font-size:11px;
    font-weight:normal;
}

/*nav*/
li.cart a i.fa-shopping-cart {
    border: 1px solid white;
    border-radius: 50%;
    margin-top: -10px;
    padding: 10px;
    text-align: center;
}

@media (max-width:767px) {
    li.cart a .badge {
        border: 1px solid white;
        border-radius: 20%;
        margin-top: -10px;
        padding: 10px;
        text-align: center;
    }
}

.navbar-fixed-top {
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-name: none;
    border-width: 0 0 1px;
    top: 0;
}

.navbar-default {
    border-color: white;
    /*height: 129px;*/
    min-height:120px;
}

.navbar {
    min-height: 120px;
}

.navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
    margin: 0;
    padding: 0;
    /*top: 1.1em;*/
    top:0.7em;
    position: relative;
    right:0;
}

@media (max-width:1200px) {
    .navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
        bottom: -0.25em;
        position: relative;
        right: 0;
    }

    .navbar-nav .fa {
        font-size:1.4em;
    }

    .navbar .container .navbar-nav, .navbar .container-view .navbar-nav {
        right: 5px;
    }

}

.navbar-nav > li  {
    padding: 0;
    margin-left:25px;
}

.navbar .nav a {
    transition: none;
}

.navbar-nav > li > a {
    height: 40px;
    padding: 20px 0 22px 0;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom:4px solid #ff8a00;
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-nav > .cart.active > a,
.navbar-default .navbar-nav > .cart.active > a:hover,
.navbar-default .navbar-nav > .cart.active > a:focus {
    border-bottom:0;
}

.navbar .container .navbar-nav li.active .fa-caret-down, .navbar .container-view .navbar-nav li.active .fa-caret-down {
    color:#00b2c0;
    top: 46px;
}

ul.topNav {
    padding-top: 10px;
    float:right;
}

.topNav li {
    float:left;
    margin-right:4px;
}

.topNav li a img {
    height:35px;
    width:35px;
}

.main {
    float:right;
}

.main a {
    text-transform:uppercase;
    font-size:18px;
    font-weight:normal;
    margin:0;
    padding:0;
}

@media (max-width:992px){
    .main li {
        float:left;
    }

    .main a {
        font-size: 1em;
    }
}

.main .dropdown-menu {
    background-color: #FFF;
    border: 1px solid #00b2c0;
    border-top:0;
    float: none;
    left:auto;
    margin: 20px 0 0 0;
    padding: 10px 0;
    position: absolute;
    top: 58px;
    right:-5px;
}

.main .dropdown-menu li a {
    text-transform:none;
    font-size:16px;
    color:#00b2c0;
}

.main .dropdown-menu > li > a:hover {
    background-color:transparent;
    color:#7665a0;
}

.dropdown-mega {
    display:none;
}

/*logo*/
ul.logoNav {
    margin:0;
    /*padding:15px 0 15px 0;*/
    padding:13px 0 0 0;
}

ul.logoNav li {
    float:left;
    display:inline-block;
}

ul.logoNav li img {
    max-width: 100%;
    max-height: 100%;
}

.robynBug  {
    margin:60px 0 0 20px;
}

@media (max-width:1200px) {
    .top-header {
        min-height:30px;
        padding:10px 0;
        z-index:1040;
    }

    .navbar-nav > li {
        margin: 0;
    }
}


/*container*/
.container, .container-view, .dropdown-mega .dropdown-menu  {
    max-width: 980px;
    margin:0 auto;
}

.container-view {
    margin-top: 40px;
    margin-bottom:130px;
}

.user-view, .order-search-view, .address-list-view, .favorites-list-view, .message-view, .contact, .checkout-view  {
    margin-top:20px;
}

.app-loading-indicator-cell {
    background-color: transparent;
}

.app-loading-indicator-cell i {
    color: white;
}

.app-loading-indicator-cell p {
    background-color: #7665a0;
    color: white;
}

.fa-search {
    color:#00b2c0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    /*font-family: 'Gotham A','Gotham B',sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: #7665a0;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2em;
}

/*panel-nav*/
.panel-nav ul,
.panel-nav .panel-category-list:not(.no-panels) > ul,
.panel-nav .panel-product-list:not(.no-panels) > ul,
.panel-nav .panel-lineitem > ul,
.panel-nav .panel-order-history > ul,
.panel-nav .panel-order-shipping-multiple > ul {
    border:none;
}

.panel-nav ul li {
    border-top: 0;
}

.panel-nav ul li  a {
    color:#999c9f;
    font-weight:bold;
    text-decoration:none;
}

.panel-nav ul li a:hover {
    text-decoration:underline;
}

.panel-nav ul li.active,
.panel-nav ul li.active a,
.panel-nav ul li.focus,
.panel-nav ul li.focus a {
    background-color:white;
    color:#ff8a00;
    text-decoration:none;
    border:none;
}

.panel-nav ul li ul li a {
    background-color:white;
    color:#999c9f;
    text-decoration:none;
    border:none;
    margin-left:10px;
}

.panel-nav ul li.active ul li a {
    color:#999c9f;
}

.panel-nav ul li ul li.active a {
    color: #ff8a00;
}


/*products*/
.panel-category-list h5 {
    text-align:center;
}

h4.text-primary span.subtotal {
    font-weight:bold;
    padding-right:15px;
}

.matrix-grid {
    font-size:12px;
}

/*product detail template*/
.product-detail-default .panel-footer {
    background-color:white;
}

.product-detail-default .btn-lg {
    min-height:50px;
}

.product-detail-default h3 {
    color:#7665a0;
}

.product-detail-default .btn-lg {
    font-size: 1em;
    min-height: 50px;
    padding: 1.165em;
    text-transform: uppercase;
}

.product-detail-default .panel {
    border: 0 none;
    box-shadow:none;
    margin-bottom: 0px;
}

.product-detail-default .panel-heading {
    display:none;
}

.product-detail-default .panel-header {
    border-bottom:1px solid #ddd;
}

.product-detail-default .panel-body {
    padding: 15px 0;
}

/*checkout*/
.addressName {
    display:none;
}

.order-header ul li {
float:left;
}

.order-search-view .panel-body  {
    /*background-color:#f5f5f5;*/
}

.order-search-view .order-types .panel-body  {
    background-color:white;
}

.order-search-view .form-inline .form-control {
    width: 100%;
}

/*contactus*/
.contact span {
    margin-left:25px;
}

.contact a {
    text-decoration:none;
}

/*pagination*/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #7665a0 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #7665a0;
    border-color: #7665a0;
}


/*lightbox*/
.modal-body {
    background: none repeat scroll 0 0;
    background-color: white !important;
}

.galleryThumbs {
    width:100%;
    margin:0 auto;
    position: relative;
    text-align: center;
}

.galleryThumbs li {
    padding: 3px 5px;
    list-style-type: none;
    display:inline-block;
}

.galleryThumbs li:first-child {
    padding-left:0;
}

.galleryThumbs .img-thumbnail {
    border:1px solid #ccc;
}

.galleryThumbs .active .img-thumbnail {
    border:1px solid #00b2c0;
}

.galleryImages li {
    list-style-type:none;
}

.galleryImages a {
    display:block;
}

.galleryImages a.no-click {
    cursor:none;
    pointer-events: none;
}

.galleryImages .product-image-large {
    display:none;
}

.galleryImages .active .product-image-large {
    display:block !important;
    max-height:290px;
    max-width: 100%;
    position:relative;
    top:0;
}

/**/
.lightbox-nav {
    position: relative;
    margin-bottom: 12px; /* the font-size of .btn-xs */
    text-align: center;
    font-size: 0; /* prevent the otherwise inherited font-size and line-height from adding extra space to the bottom of this div */
}

.lightbox-nav .btn-group {
    vertical-align: top;
}

.lightbox-nav .close {
    /* absolutely position this in order to center the nav buttons */
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    padding:1px 5px;
}

.lightbox-image-container {
    position: relative;
    text-align: center;
}

.lightbox-image-container img {
    min-width:350px;
    min-height:350px;
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgba(255, 255, 255, 0.75);
    /* pad the left and right of each line of text */
    box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}


/*responsive*/
@media (max-width:1200px) {
    .container-view {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width:1200px) {
    .navbar-default {
        height: auto;
    }

    .navbar-nav > li  {
        margin-left:20px;
    }

    .navbar .container .navbar-nav li.active .fa-caret-down, .navbar .container-view .navbar-nav li.active .fa-caret-down {
        display:none;
    }
}