<footer class="fixed-footer">
    <div>
        <div class="row col-xs-12">
            <ul>
                <li><a target="_blank" href="//code.org/">Code.org</a></li>
                <li class="dim">|</li>
                <li><a href="catalog">Products</a></li>
                <li class="dim">|</li>
                <li><a href="contactus">Store Support</a></li>
            </ul>
        </div>
        <div class="row col-xs-12">
            <small class="dim">
                Powered by
                <a target="_blank" href="//www.robynpromo.com">Robyn Promotion</a>&nbsp;&amp;
                <a target="_blank" href="//four51.com">Four 51&deg; <i class="fa fa-cloud"></i> Order Cloud</a>
            </small>
        </div>
        <div class="row col-xs-12">
            <small class="dim">
                Copyright &copy; {{year}} Four51 Inc. All Rights Reserved.
            </small>
        </div>
    </div>
</footer>