<nav class="top-header col-xs-12 visible-xs text-center">
    <a title="ROBYN" target="_blank" href="http://www.robynpromo.com">
        <img ng-src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/robyn.png" />
    </a>
</nav>
<header class="header navbar navbar-inner">

    <nav class="navbar navbar-default" role="navigation">
        <!--<nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>-->
        <section>
            <div class="container">
                <div class="col-xs-5 pull-left">
                    <ul class="logoNav">
                        <li class="logo">
                            <a title="Home" target="_blank" href="http://www.code.org">
                                <img ng-src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/logo.png" />
                            </a>
                        </li>
                        <li class="robynBug hidden-xs">
                            <a title="ROBYN" target="_blank" href="http://www.robynpromo.com">
                                <img ng-src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/robyn.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-7 pull-right">
                    <div class="row">
                        <ul class="topNav hidden-xs">
                            <li>
                                <a title="Facebook" target="_blank" href="//facebook.com/Code.org">
                                    <img class="img-responsive" src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/facebook_purple.png">
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" target="_blank" href="//twitter.com/codeorg">
                                    <img class="img-responsive" src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/twitter_purple.png">
                                </a>
                            </li>
                            <li>
                                <a title="Tumblr" target="_blank" href="//codeorg.tumblr.com/">
                                    <img class="img-responsive" src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/tumblr_purple.png">
                                </a>
                            </li>
                            <li>
                                <a title="Code.org Store" href="catalog">
                                    <img class="img-responsive" src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/zazzle_purple.png">
                                </a>
                            </li>
                            <li>
                                <a title="Donate" target="_blank" href="http://www.code.org/donate">
                                    <img class="img-responsive" src="//www.four51.com/Themes/Custom/0522be56-6d86-4457-a09b-6b8f04e094c1/codeOrg/images/custom/donate_normal.png">
                                </a>
                            </li>
                        </ul>
                    </div><!--.row-->
                    <div class="row">
                        <ul class="nav navbar-nav main">
                            <!--<li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
                                <a href back-step class="back">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                            </li>-->
                            <li class="products" ng-class="{'active': isInPath('catalog') || isInPath('product') || isInPath('cart/default') || isInPath('search')}">
                                <a id="451qa_home_link" ng-show="Four51User.isAuthenticated()" href="catalog">
                                    <i class="fa fa-home hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Products' | rc}}</span>
                                </a>
                            </li>
                            <!--<li class="order" ng-class="{'active': isActive('order'), 'active-xs': isActive('favoriteorders')}">
                                <a id="451qa_order_link" href="order">
                                    <i class="fa fa-clipboard hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Orders' | r}}</span>
                                </a>
                            </li>-->
                            <li  class="contactus hidden-sm hidden-md hidden-lg" ng-show="user.Permissions.contains('ViewContactUs')" ng-class="{'active': isActive('contactus')}">
                                <a id="451qa_mesg_link" href="contactus">
                                    <i class="fa fa-envelope-o hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Contact Us' | r}}</span>
                                </a>
                            </li>
                            <li class="report" ng-if="AppConst.debug" ng-class="{'active': isActive('reports')}">
                                <a id="451qa_order_link" href="reports">
                                    <i class="fa fa-bar-chart-o hidden-sm hidden-md hidden-lg"></i>
                                    <span class="hidden-xs">{{'Reports' | r}}</span>
                                </a>
                            </li>
                            <li ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
                                <a id="451qa_acct_link" href="admin" class="visible-xs hidden-sm hidden-md hidden-lg">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            <!--<li ng-show="user.Type == 'TempCustomer'" class="admin-user hidden-xs" ng-class="{'active': isActive(['admin'])}">
                                <a href="admin">
                                    <span>{{'Account' | r}}</span>
                                </a>
                            </li>-->
                            <li class="dropdown admin-user visible-sm visible-md visible-lg" ng-class="{'active': isActive(['admin', 'addresses', 'address', 'messages', 'message', 'favoriteorders'])}">
                                <a id="451qa_acct_link2" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>{{'My Account' | r}}</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-show="user.Type=='TempCustomer'">
                                        <a class="admin" href="admin">
                                            <i class="fa fa-sign-in text-info"></i>
                                            <span>{{'Sign in / Register' | r}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewSelfAdmin')"
                                        id="451qa_user_link" class="admin">
                                        <a href="admin">
                                            <i class="fa fa-cog hidden-xs"></i>
                                            <span class="hidden-xs">{{'User Information' | r}}</span>
                                        </a>
                                        </a>
                                    </li>
                                    <!--Permissions are set to create billing and shipping address so leaving this out so hides when Temp Customer works correctly --
                                    <li id="451qa_addy_link" class="addresses" ng-show="user.Permissions.contains('CreateShipToAddress') || user.Permissions.contains('CreateBillToAddress')">
                                    -->
                                    <li id="451qa_addy_link" class="addresses" ng-show="user.Type!='TempCustomer'">
                                        <a href="addresses">
                                            <i class="fa fa-building hidden-xs"></i>
                                            <span class="hidden-xs">{{'Addresses' | r}}</span>
                                        </a>
                                    </li>
                                    <li id="451qa_mesg_link" ng-show="user.Type!='TempCustomer' && user.Permissions.contains('ViewMessaging')" class="messages">
                                        <a href="message">
                                            <i class="fa fa-envelope-o hidden-xs"></i>
                                            <span class="hidden-xs">{{'Messages' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="order" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_order_link" href="order">
                                            <i class="fa fa-clipboard hidden-xs"></i>
                                            <span class="hidden-xs">{{'Order History' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="order" ng-if="user.Permissions.contains('AdvancedReporting')" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_order_link" href="reports">
                                            <i class="fa fa-clipboard hidden-xs"></i>
                                            <span class="hidden-xs">{{'Reports' | r}}</span>
                                        </a>
                                    </li>
                                    <li class="favorites hidden-xs" ng-show="user.Type!='TempCustomer'">
                                        <a id="451qa_fave_link" href="favoriteorders">
                                            <i class="fa fa-heart hidden-xs"></i>
                                            <span class="hidden-xs">{{'Favorites' | r}}</span>
                                        </a>
                                    </li>
                                    <!--<li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                                        <a href="contactus">
                                            {{'Contact Us' | r}}
                                        </a>
                                    </li>-->
                                    <li class="divider"></li>
                                    <li ng-show="user.Type!='TempCustomer'" class="logout">
                                        <a href="#"  class="451_btn_logout" ng-click="Logout()">
                                            <i class="fa fa-sign-out text-info"></i>
                                            <span>{{'Sign out' | r}}</span>
                                        </a>
                                    </li>
                                    <li ng-if="AppConst.debug">
                                        <a href="#" ng-click="Clear()">
                                            <i class="fa fa-archive"></i>
                                            <span class="text-nav">Clear Cache</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="cart" ng-show="TotalQty && user.CurrentOrderID"
                                ng-class="{'active': isActive(['cart', 'checkout', 'checkoutGuest'])}">
                                <!--<a id="451qa_cart_link" ng-show="cartCount && user.CurrentOrderID" class="cart" href="cart">
                                    <span ng-bind="cartCount" class="badge"></span>-->
                                <a id="451qa_cart_link" class="cart" href="cart">
                                    <span class="badge" ng-bind="TotalQty"></span>
                                    <i class="fa fa-shopping-cart hidden-xs"></i>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--.row-->
                </div><!--.col-xs-12-->
            </div><!--.container-->
        </section>
    </nav>
    <nav class="dropdown-mega">
        <a class="dropdown-toggle text-center" data-toggle="dropdown">
            <i class="fa fa-angle-down text-primary"></i>
        </a>
        <ul class="451qa_topnav dropdown-menu" >
            <categorytree tree='tree' current='currentCategory' />
        </ul>
    </nav>
</header>