<div class="panel panel-default panel-order">
    <div class="panel-heading" ng-class="{'no': cart_billing.$invalid, 'yes': !cart_billing.$invalid, 'open': checkOutSection == 'billing' }">
        <!--<h3 ng-disabled="checkOutSection != 'billing'" class="panel-title">
            <i class="pull-left" ng-class="{'fa fa-warning': cart_billing.$invalid, 'fa fa-check-circle': !cart_billing.$invalid }"></i>
            {{'Billing' | r | xlat}}
            <i class="pull-right" ng-class="{'fa fa-caret-up': checkOutSection == 'billing', 'fa fa-caret-down': checkOutSection != 'billing' }"></i>
        </h3>-->
        <h3 class="panel-title panel-primary">
            <i class="col-xs-1 pull-left" ng-class="{'fa fa-warning': cart_billing.$invalid, 'fa fa-check-circle': !cart_billing.$invalid }"></i>
            <span class="text-center">{{'Billing' | r | xlat}}</span>
            <span class="col-xs-1 pull-right">
                <btn class="pull-right btn btn-sm btn-primary" ng-show="checkOutSection == 'approval' && !cart_billing.$invalid" ng-click="checkOutSection = 'billing'">edit</btn>
                <btn class="pull-right btn btn-sm btn-primary" ng-show="user.Groups[0].Name == 'Affiliates' && checkOutSection == 'billing' && !cart_billing.$invalid" ng-click="checkOutSection = 'approval'">close</btn>
            </span>
        </h3>
    </div>
    <div class="panel-body collapse" ng-disabled="cart_shipping.$invalid" collapse="checkOutSection != 'billing'">
        <billingmessage />
        <!--<div ng-show="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">-->
        <div ng-show="billaddressform || (!currentOrder.BillAddressID && billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
            <div class="row">
                <div class="checkbox pull-left">
                    <label>
                        <input name="sameAsShipping" type="checkbox" ng-model="currentOrder.copyShipAddress" ng-change="resetBilling()"
                               ng-disabled="!currentOrder.ShipAddressID" />
                        {{'Same as Shipping Address' | r | xlat}}
                    </label>
                </div>
            </div>
            <addressinput ng-hide="currentOrder.copyShipAddress" address='billaddress' user='user'></addressinput>
        </div>
        <!--<div ng-hide="billaddressform || (billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">-->
        <div ng-hide="billaddressform && !currentOrder.copyShipAddress || (!currentOrder.BillAddressID && billaddresses.length == 0 && user.Permissions.contains('CreateBillToAddress'))">
            <form name="cart_billing" novalidate="">
                <div>
                    <div class="row" ng-hide="billaddressform">
                        <div class="checkbox pull-left">
                            <label>
                                <input name="sameAsShipping" type="checkbox" ng-model="currentOrder.copyShipAddress" ng-change="resetBilling()"
                                       ng-disabled="!currentOrder.ShipAddressID" />
                                {{'Same as Shipping Address' | r | xlat}}
                            </label>
                        </div>
                        <button class="btn btn-default pull-right" type="button"
                                ng-hide="(billaddressform || (!addressform && (addresses | filter:{IsBilling:true}).length == 0) || !user.Permissions.contains('CreateBillToAddress'))"
                                ng-click="billaddressform = true" ng-show="!currentOrder.copyShipAddress">
                            {{('New' | r) + ' ' +  ('Address' | r) | xlat}}
                        </button>
                    </div>
                    <!--<div class="view-form-icon" ng-show="billaddresses.length > 0">-->
                    <div class="view-form-icon" ng-hide="currentOrder.copyShipAddress" ng-show="billaddresses.length > 0">
                        <div ng-class="{'view-form-select': !currentOrder.BillAddressID, '': currentOrder.BillAddressID }">
                            <label class="required">{{('Billing' | r) + ' ' + ('Address' | r) | xlat}}</label>
                            <select class="form-control" ng-show="billaddresses" name="billingAddress"
                                    ng-options="address.ID as address.AddressName for address in billaddresses | filter:{IsBilling:true}" ng-model="currentOrder.BillAddressID" required>
                                <option value=""></option>
                            </select>
                            <i class="fa fa-map-marker"></i>
                        </div>
                    </div>
                    <!--<div class="order-location" ng-show="BillAddress">-->
                    <div class="order-location" ng-show="currentOrder.BillAddressID && !currentOrder.copyShipAddress">
                        <p><strong><small>{{('Billing' | r) + ' ' + ('Location' | r) | xlat}}</small></strong></p>
                        <p ng-show="BillAddress.AddressName"><small>{{BillAddress.AddressName}}</small></p>
                        <p ng-show="BillAddress.CompanyName"><small>{{BillAddress.CompanyName}}</small></p>
                        <p ng-show="(BillAddress.FirstName || BillAddress.LastName) && (!user.Permissions.contains('EditBillToName') && BillAddress.IsCustEditable)">
                            <small>{{BillAddress.FirstName + ' ' + BillAddress.LastName}}</small>
                        </p>
                        <div class="row" ng-show="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable">
                            <div class="col-sm-6">
                                <input class="form-control" ng-required="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillFirstName" placeholder="{{('First' | r) + ' ' + ('Name' | r) | xlat}}" autocomplete="off" />
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" ng-required="user.Permissions.contains('EditBillToName') && !BillAddress.IsCustEditable" type="text" ng-model="currentOrder.BillLastName" placeholder="{{('Last' | r) + ' ' + ('Name' | r) | xlat}}"  />
                            </div>
                        </div>
                        <p ng-show="BillAddress.Street1"><small>{{BillAddress.Street1}}</small></p>
                        <p ng-show="BillAddress.Street2"><small>{{BillAddress.Street2}}</small></p>
                        <p ng-show="BillAddress.City || BillAddress.State || BillAddress.Zip"><small>{{BillAddress.City}}<span ng-if="ShipAddress.City && ShipAddress.State">, </span> {{BillAddress.State}} {{BillAddress.Zip}}</small></p>
                        <p ng-show="BillAddress.Phone"><small>{{BillAddress.Phone}}</small></p>
                    </div>
                </div>
                <!--custom-->
                <div class="row" ng-if="user.Groups[0].Name == 'Staff'">
                    <div class="col-xs-12 col-md-6">
                        <div ng-repeat="field in currentOrder.OrderFields | filter:{Name: 'Date needed by'}">
                            <customtextfield customfield="field" ng-if="field.ControlType == 'Text'" ng-required="field.IsRequired" />
                            <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection'" ng-required="field.IsRequired" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div ng-repeat="field in currentOrder.OrderFields | filter:{Name: 'Code.org Cost Center'}">
                            <customtextfield customfield="field" ng-if="field.ControlType == 'Text'" ng-required="field.IsRequired" />
                            <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection'" ng-required="field.IsRequired" />
                        </div>
                    </div>
                </div>
                <div class="row view-form-icon" ng-if="user.Permissions.contains('EditPOID')" ng-invalid>
                    <div class="col-xs-12 input-group">
                        <label class="required">{{('Order' | r) + ' '  + ('ID' | r) | xlat}}</label>
                        <input class="form-control" name="orderid" ng-disabled='currentOrder.autoID' type='text' ng-model="currentOrder.ExternalID"
                               required ui-mask="{{currentOrder.autoID ? null : user.Company.POIDMask}}"></input>
                            <span ng-if="user.Permissions.contains('AllowAutoGenPOID')" class="input-group-addon">
                                <input type='checkbox' ng-click="currentOrder.ExternalID = currentOrder.autoID ? null : 'auto'" ng-model='currentOrder.autoID' />
                            </span>
                        <span class="input-group-addon" ng-show="user.Permissions.contains('AllowAutoGenPOID')">{{('Auto' | r) + ' ' + ('ID' | r) | xlat}}</span>
                        <i class="fa">#</i>
                    </div>
                </div>
                <div class="row" ng-if="user.Groups[0].Name == 'Staff'">
                    <div class="col-xs-12">
                        <div ng-repeat="field in currentOrder.OrderFields | filter: { Name: 'Shopify Email'}">
                            <customtextfield customfield="field" ng-if="field.ControlType == 'Text'" ng-required="field.IsRequired" />
                            <customselectionfield customfield="field" ng-if="field.ControlType == 'Selection'" ng-required="field.IsRequired" />
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="user.Groups[0].Name == 'Staff'">
                    <div class="view-form-icon" ng-if="user.Permissions.contains('Comments')">
                        <div>
                            <label ng-show="currentOrder.Comments">{{'Comments' | r | xlat}}:</label>
                            <textarea class="form-control" rows="5" cols="100" ng-model="currentOrder.Comments" ng-attr-placeholder="{{'Comments' | r | xlat}}..." />
                            <i class="fa fa-edit"></i>
                        </div>
                    </div>
               </div>
                <br />
                <paymentselector></paymentselector>
                <!--custom-->
            </form>
        </div>
    </div>
</div>