<section class="contact">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-primary">{{('Contact' | r) + ' ' + ('Us' | r)}}</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                <!--
                <h4>The code.org store is administrated by <a href="//www.robynpromo.com" target="_blank">ROBYN, Inc.</a></h4>
                -->
                <p><h5><a href="mailto:store@code.org"><i class="fa fa-envelope-o"></i></a>
                <span><a href="mailto:store@code.org">store@code.org</a></span></h5>
                </p>
                <p><h5><a href="tel:855-535-6514"><i class="fa fa-phone"></i></a>
                <span><a href="tel:855-535-6514">(855) 535-6514</a></span></h5>
                </p>
                <p><small><em>Monday - Friday, 8:00 AM - 5:00 PM CST</em></small></p>
            </div>
        </div>
    </div>
</section>